<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}
.header {
  background-color: #000080;
  color: white;
  padding: 10px;
  text-align: center;
}
.container {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
</style>
</head>
<body>

{% include '_back_to_home.html' %}
<div class="header">
  <h1>Contact Information</h1>
</div>

<div class="container">
  <h2>Contact Us</h2>
  <ul>
    <li><strong>Phone:</strong> 123-456-7890</li>
    <li><strong>Email:</strong> support@breakdownbuddy.com</li>
    <li><strong>Address:</strong> 123 Breakdown St, Mechanicsville, USA</li>
  </ul>
</div>

</body>
</html>
