<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}
.header {
  background-color: #000080;
  color: white;
  padding: 10px;
  text-align: center;
}
.container {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
</style>
</head>
<body>

{% include '_back_to_home.html' %}
<div class="header">
  <h1>Our Services</h1>
</div>

<div class="container">
  <ul>
    <li>TYRE CHANGE: 300</li>
    <li>PUNCTURE: 120</li>
    <li>WASHING: 200</li>
    <li>OIL/OIL FILTER CHANGE: 700</li>
    <li>WIPER BLADE REPLACEMENT: 1000</li>
    <li>REPLACE AIR FILTER: 500</li>
    <li>SCHEDULE MAINTENANCE: 1000</li>
    <li>NEW TYRES: 3310</li>
    <li>BATTERY REPLACEMENT: 3000</li>
    <li>BREAK WORK: 1500</li>
  </ul>
</div>

</body>
</html>
